
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.parent-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
}

/* Analytics container */
.analytics {
    padding: 20px;
    box-sizing: border-box;
    height: 100%; /* Take full height of the parent container */
    overflow-y: auto;  /* Enables vertical scrolling if needed */
}

/* Charts section */
.charts {
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%; /* Adjust to match parent height */
}


.charts canvas {
    width: 100% !important;  /* Ensures the canvas takes full width of its container */
    height: auto !important; /* Keeps the aspect ratio */
    max-height: 260px;       /* Adjust max height to prevent chart overflow */
    max-width: 100%;         /* Ensure chart doesn't overflow horizontally */
    margin: 10px !important; /* Center the chart */
}

.analysisChartContainer, .revenueChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Data analytics section */
/* Analytics container */
.AnalyticsData {
    margin-left: 20px;
    padding: 5px;
    height: 100%;
    background: white;
    padding: 10px;
    color: black;
    text-align: left;
    border-radius: 20px;
    box-sizing: border-box;
}

/* Title styling */
.title h2 {
    font-weight: bold;
}

.title{
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    padding: 20px 0; /* Add padding to vertically center it within the container */
}

/* Individual card styling */



.cardData {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

/* Adjust spacing between columns */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Paragraph styling within cards */
.cardData p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

/* Styling for the values in the cards */
.cardData p span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Grid layout for responsiveness */

/* larger screens layout adjustments */
@media screen and (min-width: 768px) {
    .analytics {
        grid-template-columns: 1fr 1fr; /* Two equal columns for medium screens */
    }
}

@media screen and (min-width: 1024px) {
    .analytics {
        grid-template-columns: 2fr 1fr; /* 2/3 width for charts, 1/3 for data on larger screens */
    }
}

/* Mobile screens layout adjustments */
@media screen and (max-width: 600px) {
    .charts, .AnalyticsData {
        padding: 10px;
    }

    .AnalyticsData h2 {
        font-size: 18px;
    }

    .AnalyticsData p {
        font-size: 14px;
    }
}