.analytics-header {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    margin: 10px;
}

.charts-container {
    margin-top: 20px;
}

.chart-box {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-box canvas {
    max-height: 400rem;
}

.col-lg-6{
    margin-bottom: 2rem;
}