
body {
    font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}


/* pushable Button CSS */
/* Styles */
.btnpushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.btnshadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.btnedge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
    );
}

.btnfront {
    display: block;
    background: hsl(345deg 100% 47%);
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 24px;
    color: white;
    will-change: transform;
    transform: translateY(-10px);
    transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

/* ---------------------- */

/* Effects */
.btnpushable:hover {
    filter: brightness(110%);
}

.btnpushable:hover .btnfront {
    transform: translateY(-6px);
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.btnpushable:active .btnfront {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.btnpushable:hover .btnshadow {
    transform: translateY(7px);
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.btnpushable:active .btnshadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.btnpushable:focus:not(:focus-visible) {
    outline: none;
}

/* ------------------------- */

/* Button Size Customization */
    /* Button */
.btnStyle .btnfront {
    padding: 5%;
}

.btnStyle {
    width: 100%;
    margin-bottom: 4%;
}

.btnMenu {
    width: 100%;
    margin-bottom: 15%;
}

.btnMenu .btnfront {
    padding: 25%;
}

/* ------------------------------ */

/* Color cutomization */
.green .btnfront{
    background: hsl(160deg 100% 47%) !important;
}

.green .btnedge{
    background: linear-gradient(
    to left, 
    hsl(160deg 100% 16%) 0%,
    hsl(160deg 100% 32%) 8%,
    hsl(160deg 100% 32%) 92%,
    hsl(160deg 100% 16%) 100%
    );
}

.blue .btnfront{
    background: hsl(226, 100%, 50%) !important;
}

.blue .btnedge{
    background: linear-gradient(
    to left,
    hsl(226deg 100% 16%) 0%,
    hsl(226deg 100% 32%) 8%,
    hsl(226deg 100% 32%) 92%,
    hsl(226deg 100% 16%) 100%
    );
}

.red .btnfront{
    background: hsl(0, 100%, 50%) !important;
}

.cyan .btnfront{
    background: hsl(190, 77%, 38%) !important;
}

.cyan .btnedge{
    background: linear-gradient(
    to left,
    hsl(180deg, 91%, 31%) 0%,
    hsl(180deg 100% 32%) 8%,
    hsl(180deg 100% 32%) 92%,
    hsl(180deg, 93%, 33%) 100%
    );
}
