/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.table-wrapper {
    max-height: 300px; /* Set the maximum height for the table wrapper */
    overflow-y: auto;  /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* for smooth scrolling on mobile devices */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }

.navbar{
    border-radius: 0px;
}

#webcam, #output {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;   
    height: 720px;
}

button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

table{
    text-align: left;
}

table th{
    text-align: center;
}

.sidebar {
    padding: 20px;
    margin-top: 0px;
    height: 91.5vh;
    align-items: center;  
}
.content {
    width: 100vw;
    margin-top: 0px;
}
.navbar-header {
    display: flex;
    align-items: center;
}
.nav-item {
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    align-items: center;
}
.btn-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    margin: 2px;
}       
#voiceList{
    margin-bottom: 2%;
    font-size: 16px;
    height: 58px;
    margin-top: 2%;
}
.mt-s{
    margin-top:3%;
}

.mt-m{
    margin-top:5%;
}

.mt-l{
    margin-top:8%;
}

#sidebar-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
}

.center-item{
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: white;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.radio-selection{
    transform: scale(2);
}

.cancel-btn{
    font-size: 20px;
    padding: 10px 20px;
    
}

/*FORMS*/

.form-horizontal .form-control {
    font-size: 24px;
    padding: 12px;
    height: 7vh;
}

.form-horizontal select.form-control {
    font-size: 24px;
    padding: 12px;
    height: 7vh;
}

.form-horizontal .btn {
    font-size: 20px;
    padding: 10px 20px;
}

.form-horizontal .btn h4 {
    font-size: 24px;
    margin: 0;
}

.form-horizontal .control-label {
    font-size: 24px;
}

.form-horizontal .col-sm-offset-2 {
    margin-left: 16.66666667%;
}

/*FONT COLOR*/

.white-txt{
    color:white;
}

/*BOXES*/

.button-container {
    margin: 0;
    padding: 0;
    border-radius: 25px;
}

.button-container .row {
    border-radius: 0px;
    background-color: hsla(22, 61%, 56%, 0.2);
    margin: 0;
    padding: 20px 0;
}

.box-white{
    border-radius: 15px;
    background-color: white;
    padding-left: 0%;
    padding-right: 1%;
    padding-top: 15px;
    color: black;
}

/* BG COLOR */

.white-bg{
    background-color: white;
    font-size: 25px;
    
}

.green-bg {

    background-color: #46aa8e;

}

.yellow-bg {
    background-color: #f6c23e;
    font-size: 25px;
}

.red-bg {
    background-color: #e74a3b;
    font-size: 25px;
}

/* BUTTONS */

.logout-btn {
    width: 90px;
    height: 90px;
    background-color: rgba(0,0,0,0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.0);
}

.logout-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.0);
}

.menu-btn {
    color: #272626;
    border-radius: 25px;
    width: 22vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

.menu-btn-m {
    color: #272626;
    width: 15vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.menu-btn-sm {
    color: #272626;
    width: 8vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.sidebar{
    color: black;
}

.sidebar-btn {
    color: #272626;
    width: 100%;
    height: 3vh;
    font-size: 16px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
    margin: 7px 0;
}

h1 {
    font-size: 45px;
    line-height: 1.2;
}
h2 {
    font-size: 28px;
    line-height: 1.3;
}
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.5;
}
h5 {
    font-size: 16px;
    line-height: 1.6;
}
h6 {
    font-size: 14px;
    line-height: 1.7;
}

.header_img{
    margin: 0px;
    width: 90px;
    height: 90px;
    background-color: hsla(22, 61%, 93%, 0.4);
    border-radius: 50%;
}

@media (max-width: 1024px) {

    h1, h2, h3, h4, h5, h6, p {
        overflow-wrap: break-word;
        margin: 7px 0;
    }

    h1 {
        font-size: 32px;
        line-height: 1.2;
    }
    h2 {
        font-size: 28px;
        line-height: 1.3;
    }
    h3 {
        font-size: 22px;
        line-height: 1.4;
    }
    h4 {
        font-size: 20px;
        line-height: 1.5;
    }
    h5 {
        font-size: 16px;
        line-height: 1.6;
    }
    h6 {
        font-size: 14px;
        line-height: 1.7;
    }

    .header-container{
        width: 75%;
    }
    #voiceList {
        font-size: 16px;
        height: 50px;
    }
    .sidebar {
        position: static;
        padding: 2px;
        margin: 0;
    }
    .content {
        margin: 0px;
        position: fixed;
    }
    .btn-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    margin: 8px;
    }
    #sidebar-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    }

    /* BUTTONS */

    .menu-btn {
        color: #272626;
        width: 22vw;
        height: 25vh;
        background-color: #ffffff;
        font-size: 28px;
    }

    .sidebar-btn {
        color: #272626;
        width: 100%;
        height: 3vh;
        font-size: 16px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {

    h1, h2, h3, h4, h5, h6, p {
        overflow-wrap: break-word;
        margin: 7px 0;
    }

    h1 {
        font-size: 28px;
        line-height: 1.2;
    }
    h2 {
        font-size: 24px;
        line-height: 1.3;
    }
    h3 {
        font-size: 18px;
        line-height: 1.4;
    }
    h4 {
        font-size: 17px;
        line-height: 1.5;
    }
    h5 {
        font-size: 15px;
        line-height: 1.6;
    }
    h6 {
        font-size: 12px;
        line-height: 1.7;
    }

    .header-container{
        width: 75%;
    }
    #voiceList {
        font-size: 16px;
        height: 50px;
    }
    .sidebar {
        position: static;
        padding: 2px;
        margin: 0;
    }

    #sidebar{
        width: 100vw;
    }

    .content {
        margin: 0px;
        position: fixed;
    }
    .btn-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    margin: 8px;
    }
    #sidebar-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    }

    /* BUTTONS */

    .menu-btn {
        color: #272626;
        width: 22vw;
        height: 22vh;
        background-color: #ffffff;
        font-size: 28px;
    }

    .sidebar-btn {
        color: #272626;
        width: 100%;
        height: 3vh;
        font-size: 16px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 425px) {

    h1, h2, h3, h4, h5, h6, p {
        overflow-wrap: break-word;
        margin: 3px 0;
    }

    h1 {
        font-size: 12px;
    }
    h2 {
        font-size: 11px;
    }
    h3 {
        font-size: 10px;
    }
    h4 {
        font-size: 9px;
    }
    h5 {
        font-size: 8px;
    }
    h6 {
        font-size: 7px;
    }

    .center-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-container{
        width: 75%;
    }
    #voiceList {
        font-size: 12px;
        height: 30px;
    }
    .sidebar {
        width: 15vw;
        padding: 0%;
        position: static;
    }
    .content {
        margin: 0px;
        position: static;
    }
    .btn-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    margin: 8px;
    }
    #sidebar-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: white;
    }

    /* BUTTONS */

    .menu-btn {
        color: #272626;
        width: 22vw;
        height: 15vh;
        background-color: #ffffff;
        font-size: 25px;
    }

    .sidebar-btn {
        color: #272626;
        width: 80%;
        height: 3vh;
        font-size: 16px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* pushable Button CSS */
/* Styles */
.btnpushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.btnshadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.btnedge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
    );
}

.btnfront {
    display: block;
    background: hsl(345deg 100% 47%);
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 24px;
    color: white;
    will-change: transform;
    transform: translateY(-10px);
    transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

/* ---------------------- */

/* Effects */
.btnpushable:hover {
    filter: brightness(110%);
}

.btnpushable:hover .btnfront {
    transform: translateY(-6px);
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.btnpushable:active .btnfront {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.btnpushable:hover .btnshadow {
    transform: translateY(7px);
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.btnpushable:active .btnshadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.btnpushable:focus:not(:focus-visible) {
    outline: none;
}

/* ------------------------- */

/* Button Size Customization */
    /* Button */
.btnStyle .btnfront {
    padding: 5%;
}

.btnStyle {
    width: 100%;
    margin-bottom: 4%;
}

.btnMenu {
    width: 100%;
    margin-bottom: 15%;
}

.btnMenu .btnfront {
    padding: 25%;
}

/* ------------------------------ */

/* Color cutomization */
.green .btnfront{
    background: hsl(160deg 100% 47%) !important;
}

.green .btnedge{
    background: linear-gradient(
    to left, 
    hsl(160deg 100% 16%) 0%,
    hsl(160deg 100% 32%) 8%,
    hsl(160deg 100% 32%) 92%,
    hsl(160deg 100% 16%) 100%
    );
}

.blue .btnfront{
    background: hsl(226, 100%, 50%) !important;
}

.blue .btnedge{
    background: linear-gradient(
    to left,
    hsl(226deg 100% 16%) 0%,
    hsl(226deg 100% 32%) 8%,
    hsl(226deg 100% 32%) 92%,
    hsl(226deg 100% 16%) 100%
    );
}

.red .btnfront{
    background: hsl(0, 100%, 50%) !important;
}

.cyan .btnfront{
    background: hsl(190, 77%, 38%) !important;
}

.cyan .btnedge{
    background: linear-gradient(
    to left,
    hsl(180deg, 91%, 31%) 0%,
    hsl(180deg 100% 32%) 8%,
    hsl(180deg 100% 32%) 92%,
    hsl(180deg, 93%, 33%) 100%
    );
}
